@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap');
*, *::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
:root{
    --errorColor:#FF7979;
    --submitColor:#38CC8B;
    --submitHover:#77E2B3;
    --butColor:#5E54A4;
    --textColor:#3D3B48;
    --white:#ffffff;
}
body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/backgroundImg.svg);
    padding: 88px 24px;
    background-size: 100%;
}
header{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
header h1{
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.292px;
}
header h2{
    width: 97%;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;   
}
main{
    min-width: 100%;
    margin-top: 88px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.purpleBox{
    width: 100%;
    height: 88px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--butColor);
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.purpleBox h3{
    width: 70%;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.268px;
}
.purpleBox span{
    color: #FFF;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.268px;
}
form{
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px;
}
.inpt{
   width: 100%;
   height: 56px;
   flex-shrink: 0;
   border-radius: 5px;
   border: 1px solid #DEDEDE;
   background: var(--white);
   padding-left: 19.41px;
   outline: none;
}
.inpt:focus{
    border: 1px solid #5E54A4;
}
.sbmt{
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    border-radius: 5px;
    background: var(--submitColor);
    border: none;
    box-shadow: 0px -4px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 1px;
}
.sbmt:hover{
    background-color: var(--submitHover);
    transition: 0.5s;
}
.lastText{
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}
.lastText h4{
    width: 90%;
    color: #BAB7D4;
    text-align: center;
    font-family: "Poppins";
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}
.lastText span{
    color: #FF7979;
    font-family: "Poppins";
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
}
.error{
    width: 100%;
    color: #FF7979;
    text-align: right;
    font-family: "Poppins";
    font-size: 11px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
    display: flex;
    justify-content: end;
}
.err{
    background-image: url(./assets/wrong.svg);
    background-position: 97%;
    background-repeat: no-repeat;
    background-size: 5%;
}